<tr>
  <td class="text-center">{{ job.company }}</td>
  <td class="text-center">{{ job.dateApplied }}</td>
  <td class="text-center">{{ job.position }}</td>
  <td class="text-center">{{ job.lastContact }}</td>
  <td class="text-center">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contacts
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item text-center" ng-repeat="contact in job.contacts">{{ contact.name }}</li>
        <li class="text-center">
          <button type="button" class="btn btn-primary">Add Contact</button>
        </li>
      </ul>
    </div>
  </td>
  <td class="text-center"><a href="{{ job.jobListingUrl }}">Link</a></td>
</tr>
