<form ng-submit="submit()" ng-controller="jobs">
  <div class="form-group">
    <label class="col-2 col-form-label">Date of Application</label>
    <div class="col-10">
      <input class="form-control" type="date" value="2011-08-19" ng-model="dateApplied">
    </div>
  </div>

  <div class="form-group">
    <label class="col-2 col-form-label">Company</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="Google" ng-model="company">
    </div>
  </div>

  <div class="form-group">
    <label class="col-2 col-form-label">Position</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="CEO" ng-model="position">
    </div>
  </div>

  <div class="form-group">
    <label class="col-2 col-form-label">Link</label>
    <div class="col-10">
      <input class="form-control" type="text" placeholder="https://jobs.google.com/ceo" ng-model="jobListingUrl">
    </div>
  </div>

  <div class="col">
      <input type="submit" class="btn btn-primary" />
      <a href="#/" class="btn btn-danger">Cancel</a>
  </div>

</form>
